/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Estilos para el encabezado */
h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Estilos para el mensaje de error */
p.error {
  color: red;
  margin-top: 20px;
}

/* Estilos para el formulario */
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos para las etiquetas del formulario */
label {
  display: block;
  margin-bottom: 8px;
}

/* Estilos para los campos de entrada del formulario */
input[type="text"],
input[type="email"],
input[type="number"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Estilos para el botón de envío del formulario */
input[type="submit"],
input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  background-color:  #4caf50;
}

/* Estilos para el enlace de administración de préstamos */

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}
